# Ignore node_modules directory
node_modules/

# Ignore .env files
.env

# Ignore all .log files
*.log

# Ignore specific file, but not directory of same name
/specific_file.txt

# Ignore directory and its contents
directory_to_ignore/

# Ignore all files in a directory, but not the directory itself
directory_with_files/*

# Ignore .pdf files in the 'docs' directory
docs/*.pdf

# Keep a specific file even if the rest are ignored
!important.txt

# Ignore build directory and all subdirectories
build/**

# Ignore files ending with .tmp anywhere
**/*.tmp

*.gradle
*.properties
build.gradle
.gitattributes
gradlew
gradlew.bat
HELP.md

.gradle/
gradle/

test/